<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITodoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/TodoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITodoService" contract="TodoService.ITodoService"
                name="BasicHttpBinding_ITodoService" />
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehavior">
            <remove name="serviceDebug"/>
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="SOP_WCF.TodoService" behaviorConfiguration="mexBehavior">
          <endpoint address="Service" binding="basicHttpBinding" contract="SOP_WCF.ITodoService"></endpoint>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9091/TodoService.svc"/>
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>